.form-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

form {
    border-radius: 5px;
    border-style: groove;
    padding: 5%;
    width: 50vw;
    display: flex;
    flex-flow: column;
}

#body {
    background-image: url("bg_img.jpeg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 45%;
    z-index: 2;
}

@media (min-width: 400px) and (max-width: 750px) {
    form {
        width: 80vw;
    }

    #body {
        background-position: 50% 70%;
    }

    .form-login {
        align-items: flex-start;
    }

}

@media screen and (max-width: 400px) {
    form {
        width: 90vw;
    }

    #body {
        background-position: 50% 60%;
    }

    .form-login {
        align-items: flex-start;
    }
}





