.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: scale-down;
    padding: 2%;
}

svg {
    margin-right: 10px;
}

/*this doesn't work:*/
.products-list {
    /*margin: 50px;*/
    padding: 50px;
}

/*.card {*/
/*    margin: 30px;*/
/*}*/